@using Books2023.Web.ViewModels;
@model IEnumerable<ProductListVm>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Product List</h2>

        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="UpSert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                New Product
            </a>
        </div>
    </div>
    <table id="tblProducts" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>ListPrice</th>
                <th>Actions</th>    
            </tr>
        </thead>
        <tbody>
  
        </tbody>
    </table>

</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}