@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
    string ShrinkTitle(string title)
    {
        return title.Length > 19 ? $"{title.Substring(0, 19)}..." : title;
    }
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid; border-radius:3px;">
                    <div class="card">
                        <img src="@item.ImageUrl" width="200px" height="300px" class="card-img-top rounded" />
                        <div class="card-body">
                            <h5 class="card-title text-primary">@ShrinkTitle(@item.Title)</h5>
                            <p class="card-text text-info">by @item.Author</p>
                            <p class="card-text text-secondary">List Price:<strike><b>$@(item.ListPrice.ToString())</b></strike></p>
                            <p class="card-text text-secondary">As Low As:<b>$@item.Price100</b></p>
                        </div>

                    </div>
                    <div>
                        <a asp-action="Details" class="btn btn-secondary form-control" asp-route-id="@item.Id">
                            Details
                        </a>
                    </div>
                </div>
            </div>
        </div>

    }

</div>
