@model Category
@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-controller="Category" asp-action="Delete">
    <div class="border p-4">
        <h2>Delete Category</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" disabled class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" disabled class="form-control" />
        </div>
        <div class="d-flex">
            <button type="submit" class="btn btn-danger me-3" style="width: 200px;">Delete</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-success" style="width: 200px;">
                Back to List
            </a>
        </div>
    </div>
</form>

