﻿@using Books2023.Web.ViewModels;
@model ProductEditVm
@{
    ViewData["Title"] = "UpSert";
}

<form method="post" asp-controller="Product" asp-action="UpSert" enctype="multipart/form-data">
    <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id == 0 ? "New Product" : "Edit Product")</h2>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Product.Title" class="form-label"></label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Description" class="form-label"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ISBN" class="form-label"></label>
            <input asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Author" class="form-label"></label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3  col-6">
            <label asp-for="Product.ListPrice" class="form-label"></label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>

        <div class="mb-3 col-6">
            <label asp-for="Product.Price" class="form-label"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price50" class="form-label"></label>
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price100" class="form-label"></label>
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.CategoryId" class="form-label"></label>
            <select asp-for="Product.CategoryId" asp-items="Model.CategoriesList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.CoverTypeId" class="form-label"></label>
            <select asp-for="Product.CoverTypeId" asp-items="Model.CoverTypesList" class="form-select">
                <option disabled selected>--Select Cover--</option>
            </select>
            <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" id="uploadBox" name="file" class="form-control" />
        </div>

        <div class="col-12">
            @if (Model.Product.Id == 0)
            {
                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:200px">
                    <i class="bi bi-floppy"></i> &nbsp;
                    Save
                </button>

            }
            else
            {
                <button type="submit" class="btn btn-warning" style="width:200px">
                    <i class="bi bi-floppy"></i> &nbsp;
                    Save
                </button>

            }
            <a asp-controller="Product" asp-action="Index" style="width:200px" class="btn btn-success">
                <i class="bi bi-backspace"></i>  &nbsp;
                Back to List
            </a>

        </div>

    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
    <script>
        function ValidateInput() {
            if (document.getElementById('uploadBox').value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload an image!',
                });
                return false;
            }
            return true;
        }
    </script>

}